/* Add your own CSS code below */
.link {
  color: #4491db;
  font-weight: 700;
  text-decoration: none;
}
.link {
  color: red;
  font-weight: 700;
  text-decoration: none;
}
.link {
  color: green;
  font-weight: 700;
  text-decoration: none;
}
